body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  gap: 10px;
  grid-template-rows: 130px 130px 130px 130px 130px 130px;
  row-gap: 20px;
  width: 80%;
}

.box {
  padding: 10px;
}

.box1 {
  grid-column: 1 / span 3;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(194, 3, 3);
  color: aliceblue;
  border-radius: 8px;
}

.box2 {
  color: white;
  background-color: rgb(22, 104, 22);
  grid-column: 4;
  border: 2px solid black;
  border-radius: 8px;
}

.box3 {
  background-color: rgb(196, 196, 13);
  grid-column: 1 / span 4;
  border-radius: 8px;
  border: 2px solid black;
}

.box4 {
  background-color: rgb(194, 3, 3);
  grid-column: 1 / span 2;
  border: 2px solid black;
  border-radius: 8px;
  color: white;
}

.box5 {
  background-color: rgb(158, 93, 201);
  grid-column: 3 / span 2;
  border: 2px solid black;
  border-radius: 8px;
  color: rgb(231, 231, 231)  ;
}

.box6 {
  background-color: rgb(30, 215, 30);
  grid-column: 1 / span 3;
  border: 2px solid black;
  border-radius: 8px;
  color: rgb(14, 14, 14);
}

.box7 {
  background-color: rgb(244, 164, 96);
  grid-column: 4;
  border: 2px solid black;
  border-radius: 8px;
}

.box8 {
  background-color: rgb(255, 255, 0);
  grid-column: 1 / span 2;
  border: 2px solid black;
  border-radius: 8px;
}

.box9 {
  background-color: rgb(255, 193, 7);
  grid-column: 3;
  border: 2px solid black;
  border-radius: 8px;
}

.box10 {
  background-color: rgb(255, 153, 0);
  grid-column: 4;
  border: 2px solid black;
  border-radius: 8px;
}

.box11 {
  background-color: rgb(255, 153, 0);
  grid-column: 1/ span 4;
  border: 2px solid black;
  border-radius: 8px;
}

/* Responsive design */

@media (max-width: 570px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0;
    width: 100%;
  }
}
