body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  grid-template-rows: repeat(6, 130px);
  gap: 10px;
  row-gap: 20px;
  width: 80%;
}

.box {
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
}

.box1 {
  grid-column: 1 / span 3;
  background-color: rgb(194, 3, 3);
  color: aliceblue;
  border: 2px solid black;
}

.box2 {
  grid-column: 4;
  background-color: rgb(22, 104, 22);
  color: white;
  border: 2px solid black;
}

.box3 {
  grid-column: 1 / span 4;
  background-color: rgb(196, 196, 13);
  border: 2px solid black;
}

.box4 {
  grid-column: 1 / span 2;
  background-color: rgb(194, 3, 3);
  color: white;
  border: 2px solid black;
}

.box5 {
  grid-column: 3 / span 2;
  background-color: rgb(158, 93, 201);
  color: rgb(231, 231, 231);
  border: 2px solid black;
}

.box6 {
  grid-column: 1 / span 3;
  background-color: rgb(30, 215, 30);
  color: rgb(14, 14, 14);
  border: 2px solid black;
}

.box7 {
  grid-column: 4;
  background-color: rgb(244, 164, 96);
  border: 2px solid black;
}

.box8 {
  grid-column: 1 / span 2;
  background-color: rgb(255, 255, 0);
  border: 2px solid black;
}

.box9 {
  grid-column: 3;
  background-color: rgb(255, 193, 7);
  border: 2px solid black;
}

.box10 {
  grid-column: 4;
  background-color: rgb(255, 153, 0);
  border: 2px solid black;
}

.box11 {
  grid-column: 1 / span 4;
  background-color: rgb(255, 153, 0);
  border: 2px solid black;
}

@media (max-width: 570px) {
  body {
    align-items: flex-start;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    padding: 10px;
    row-gap: 15px;
  }

  .box {
    grid-column: 1 !important;
  }
}
